In [1]:
import pandas as pd

In [2]:
seasonPw = pd.read_csv("seasons.csv")

seasonMedia = seasonPw.query('IMDB_rating > 6.5').sort_values(by=["IMDB_rating"], 
ignore_index=True, 
ascending=False)


seasonMedia.head(5)

,id,season_title,season_num,number_of_episodes,air_date_first_ep,air_date_last_ep,producer,IMDB_rating
0,6,In Space,6,43,1998-02-06,1998-11-21,Saban,7.3
1,9,Time Force,9,40,2001-02-03,2001-11-17,Saban,7.1
2,7,Lost Galaxy,7,45,1999-02-06,1999-12-18,Saban,6.9
3,12,Dino Thunder,12,38,2004-02-14,2004-11-20,Disney,6.8
4,26,Beast Morphers (Season 1),26,22,2019-03-02,2019-12-14,Saban Brands,6.8